{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Please confirm your password for this account
</h1>
<div class="box">

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="notification is-danger">
    {{ messages[0] }}
  </div>
  {% endif %}
  {% endwith %}
  <form method="POST" action="/ecoledirecte_fetch">
    <div class="field">
      <div class="control">
          <input class="input is-large" type="password" name="password" placeholder="Password du compte" autofocus="">
        </div>
      </div>
    <button class="button is-block is-info is-large is-fullwidth">Confirm</button>
{% endblock %}