<!-- templates/index.html -->
<link rel="stylesheet" href="../static/css/master.css">
<script src="/static/js/todo.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% extends "base.html" %}

{% block content %}
<h1>
    Bienvenue dans notre application web.
</h1>
<h2>
    Ici vous pourrez, après vous être créer un compte : 
    <ul>
        <li>Planifier des tâches dans todo</li>
        <li>Synchroniser vos devoirs d'école directe</li>
        <li>Utilser un Pomodoro (chronomètre) pour organiser votre travail</li>
    </ul>
</h2>
{% endblock %}
