<!-- templates/pomodoro.html -->
{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pomodoro-style.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class=" block items-center justify-center pomodoro-page">

  <figure class="clock">
    <div class="mins">0</div>
    <div>:</div>
    <div class="secs">00</div>
    <audio
            src="http://soundbible.com/mp3/service-bell_daniel_simion.mp3"
    ></audio>
    <svg class="progress-ring" height="120" width="120">
      <circle
              class="progress-ring__circle"
              stroke-width="8"
              fill="transparent"
              r="50"
              cx="60"
              cy="60"
      />
    </svg>
  </figure>

  <div class="btn-group">
    <button class="start btn btn-success">start focus</button>
    <button class="reset btn btn-danger">reset</button>
    <button class="pause btn btn-warning">pause</button>
  </div>

  <div id="todo"></div>

  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
  <script src="{{ url_for('static', filename='js/timer.js') }}"></script>
  <script src="{{ url_for('static', filename='js/progress.js') }}"></script>
  <script>
    $.ajax({
      type: "POST",
        url: "/todo",
        cache: false,
        success: function(data){
          $("#todo").append(data)
        }
    })
  </script>
</div>


{% endblock %}
