<!-- templates/index.html -->
<link rel="stylesheet" href="../static/css/master.css">
<script src="/static/js/todo.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% extends "base.html" %}

{% block content %}
<div id="todo-container">
  <table id="todo-table" style="width:100%">
    <tr>
      <th> <span id="nbTask"></span> TASKS</th>
      <th>DUE DATE</th>
      <th>PRIORITY</th>
      <th>TAG</th>
    </tr>

    <tr>
      <td> <input class="input-form" placeholder="Your task" type="text" id="task" name="task"> </td>
      <td> <input class="input-form" type="date" id="date" name="date"> </td>
      <td>
        <select class="no-style input-form" id="priority" name="priority">
          <option value="hight">Hight</option>
          <option value="medium" selected>Medium</option>
          <option value="low">Low</option>
        </select>
      </td>
      <td>
        <form action="/tag_complete" autocomplete="on">
          <input class="input-form" placeholder="tag" type="text" id="tag-selector" name="tag-selector">
        </form>
      </td>
      <td>
        <button onclick="onTaskAdded();sendTodoForm()" class="btn btn-success">ADD</button>
      </td>
    </tr>

  </table>
</div>
{% endblock %}
