<!-- templates/index.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
</script> 
<script src="{{ url_for('static', filename='js/todo.js') }}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://code.jquery.com/ui/1.8.24/themes/ui-darkness/jquery-ui.css" rel="stylesheet" type="text/css" />  

{% if method == 'GET' %}
{% extends "base.html" %}
{% endif %}

{% block content %}

<div class="items-center justify-center flex marginTop-xl w-full h-full">
    <div class="scroll-x items-center justify-center" id="todo-container">
        <table id="todo-table">
            <span id="taskFormError" style="color: red;"> </span>
            <tr>
                <th> TASKS</th>
                <th><strong>DUE DATE</strong></th>
                <th><strong>PRIORITY</strong></th>
                <th class="flex">
                    <strong>TAG</strong>
                </th>
            </tr>

            {% if method == 'GET' %}
            <tr id="taskInputCreator">
                <td><input class="input-form" autocomplete="on" placeholder="Your task" type="text" id="task"
                           name="task"></td>
                <td><input class="input-form" type="date" id="date" name="date"></td>
                <td>
                    <select class="no-style input-form" id="priority" name="priority">
                        <option value="hight">Hight</option>
                        <option value="medium" selected>Medium</option>
                        <option value="low">Low</option>
                    </select>
                </td>
                <td>
                    <input class="input-form" placeholder="tag" type="text" id="tag-selector" name="tag-selector">
                </td>
                <td>
                    <button onclick="sendTodoForm('addElement')" type="submit" class="btn btn-success">ADD</button>
                </td>
                {% if not ecoledirecte %}
                <button class="btn btn-success btn-log is-block is-info is-large is-fullwidth">
                    <a href="{{ url_for('main.ecoledirecte') }}">Link your ecoledirecte account</a>
                </button>
                {% else %}
                <button class="btn btn-success btn-log is-block is-info is-large is-fullwidth">
                    <a href="{{ url_for('main.ecoledirecte_fetch_form') }}">Sync tasks from Ecole Directe</a>
                </button>
                {% endif %}
            </tr>
            {% endif %}

        </table>
    </div>
</div>
{% endblock %}
