.input-log{
    padding: 15px;
    border: 3px solid #A0BC3B;
    margin: 1%;
    border-radius: 5px;
    outline: none;
    width: 100%;
    max-width: 20em;
}

.input-log:focus{
    /*border: 4px solid #A0BC3B;*/
}

.title{
    font-size: 3em;
    /*font-max-size: 1px;*/
    text-align: center;
    color: white;
    font-family: 'Rum Raisin', sans-serif;
    word-wrap: break-word;
    max-width: 100%;
}

.btn-log{
    margin-top: 5%;
    width: 100%;
    max-width: 17em;
}

.w-100{
    width: 100%;
}
