:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

button.no-style {
    border: none;
    background: none;
    outline: none;
}

select.no-style {
    border: none;
    background: none;
    outline: none;
}

.icon-sm {
    width: 2em;
}

#todo-container {
    padding: 1%;
    border-radius: 5px;
    background-color: #3c3c3c;
    max-width: 90%;
    width: 50em;
    /*min-width: 90em;*/
}

table{
    border-collapse: collapse;
}

.scroll-x{
    overflow-x: auto;
}

tr:nth-child(1) {
    margin-bottom: 60px;
}

th, td {
    padding: 10px;
}

tr:not(#taskInputCreator):not(:first-child):hover {
    background-color: #313131;
}

#todo-container th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
    font-size: 2vh;
}

table {
    /*width: 30vw;*/
    /*border-collapse: collapse;*/
}

.h-full {
    height: 92vh;
}

.w-full{
    width: 100vw;
}

.input-form {
    border: 2px solid transparent;
    background: none;
    color: gray;
    padding: 5px;
    margin-bottom: 10px;
    outline: none;
}

.input-form:focus {
    border-radius: 5px;
    border: 2px solid white;
    color: white;
}

.btn-success {
    color: #fff !important;
    background-color: #313131 !important;
    border-color: white !important;
}

.btn-success:hover {
    color: #fff;
    background-color: #157347 !important;
    border-color: #146c43;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .3rem .7rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.colored {
    /*width: 100vw;*/
    border: 1px solid white;
}

.flex {
    display: flex;
}

.block{
    display: block;
}


.trashbin{
    color: grey;
}

.trashbin:hover{
    color: red;
}
