@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    margin: 35px 0;
}

button {
    margin: 5px;
    padding: 10px;
    border: none;
    font-size: 18px;
    transition: 0.5s ease-in-out;
}

.clock {
    padding: 3px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 30%;
    font-size: 24px;
}
.progress-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress-ring__circle {
    transition: 0.5s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke: rgb(51, 65, 255);
}

.danger {
    stroke: rgb(243, 17, 28);
    animation: pulse 0.9s ease-in-out infinite;
}

.clock, .btn-group{
    margin:0 auto;
}

@keyframes pulse {
    0%,
    100% {
        transform: rotate(-90deg) scale(1);
    }
    50% {
        transform: rotate(-90deg) scale(1.05);
    }
    75% {
        transform: rotate(-90deg) scale(0.8);
    }
}

@media screen and (min-width: 768px) {
    .btn-group {
        grid-area: btns;
        justify-content: center;
    }
    .clock {
        grid-area: clock;
        height: 100%;
    }
    h1 {
        grid-area: head;
        align-self: center;
    }
    form {
        align-self: center;
        justify-self: center;
        grid-area: form;
        width: 50%;
        justify-content: space-around;
    }
    footer {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    form {
        height: 40%;
    }
}
